html 
{
    min-width: 1040px;
}

body
{
    font-size: 11pt;
    line-height: 12pt;
    font-family: Arial, Verdana, 'Bookman Old Style', Georgia, Times, serif;
    text-align: left;

    margin: 1em auto 4em auto;
    width: 960px;

    background-color: white;
    color: charcoal;
}


a
{
    cursor: pointer;
}
/*a, a:link {*/


a.clipboard
{
    background-color: #eee; /*#407EC9*/
    border-radius:0px;
    padding:0px 0px 0px 0px;
    color: #666;
    font-weight: none;
    font-size: 11px;
    text-decoration: none;
    opacity:.7;
}

a:hover
{
    color: #222222;
    text-decoration: none;
}

.chart {
    stroke: white;
    text-align: right;
    padding: 0px;
    margin: 0px;
    shape-rendering:crispEdges;
}

p
{
    font-size: 11pt;
    margin-bottom: 2pt;
    margin-left: 0pt;
    line-height: 15pt;
    margin-right: 5pt;
    font-family: Arial, Verdana, 'Bookman Old Style', Georgia, Times, serif
}

td
{
    font-size: 11pt;
    margin-bottom: 2pt;
    margin-left: 20pt;
    line-height: 15pt;
    margin-right: 5pt;
    font-family: Arial, Verdana, 'Bookman Old Style', Georgia, Times, serif;
}

table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

ul
{
    font-size: 11pt;
    margin-bottom: 2pt;
    margin-left: 20pt;
    line-height: 15pt;
    margin-right: 5pt;
    font-family: Arial, Verdana, 'Bookman Old Style', Georgia, Times, serif
}
ol
{
    font-size: 11pt;
    margin-bottom: 2pt;
    margin-left: 20pt;
    line-height: 15pt;
    margin-right: 5pt;
    font-family: Arial, Verdana, 'Bookman Old Style', Georgia, Times, serif
}

img {
    border: 0pt;
}

h1 {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: normal;
    line-height: 27px;
}

